<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.atguigu.gmallpublisher.mapper.OrderMapper">
    <select id="getAmountTotal" resultType="java.lang.Double">
        select sum(total_amount) sum from gmall_order_info where create_date=#{date}
    </select>

    <select id="getHourAmount" resultMap="orderAmountList">
        select create_hour, sum(total_amount) sum from gmall_order_info where create_date=#{date } group by create_hour
    </select>

    <resultMap id="orderAmountList" type="java.util.Map"></resultMap>

</mapper>